@font-face {
  font-family: 'music-icon';
  src: url('../fonts/music-icon.eot?2qevqt');
  src: url('../fonts/music-icon.eot?2qevqt#iefix') format('embedded-opentype'),
  url('../fonts/music-icon.ttf?2qevqt') format('truetype'),
  url('../fonts/music-icon.woff?2qevqt') format('woff'),
  url('../fonts/music-icon.svg?2qevqt#music-icon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="_icon-"], [class*=" _icon-"], [class^="_icon"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'music-icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="_icon-ok"]:before {
  content: "\e900";
}

[class^="_icon-close"]:before {
  content: "\e901";
}

[class^="_icon-add"]:before {
  content: "\e902";
}

.icon-play-mini:before {
  content: "\e903";
}

[class^="_icon-playlist"]:before {
  content: "\e904";
}

[class^="_icon-music"]:before {
  content: "\e905";
}

[class^="_icon-search"]:before {
  content: "\e906";
}

[class^="_icon-clear"]:before {
  content: "\e907";
}

[class^="_icon-delete"]:before {
  content: "\e908";
}

[class^="_icon-favorite"]:before {
  content: "\e909";
}

[class^="_icon-not-favorite"]:before {
  content: "\e90a";
}

[class^="_icon-pause"]:before {
  content: "\e90b";
}

[class^="_icon-play"]:before {
  content: "\e90c";
}

[class^="_icon-prev"]:before {
  content: "\e90d";
}

[class^="_icon-loop"]:before {
  content: "\e90e";
}

[class^="_icon-sequence"]:before {
  content: "\e90f";
}

[class^="_icon-random"]:before {
  content: "\e910";
}

[class^="_icon-back"]:before {
  content: "\e911";
}
// .icon-back:before {
// }

[class^="_icon-mine"]:before {
  content: "\e912";
}

[class^="_icon-next"]:before {
  content: "\e913";
}

[class^="_icon-dismiss"]:before {
  content: "\e914";
}

.icon-pause-mini:before {
  content: "\e915";
}
